<!-- Hero Start -->
<section class="main-slider" id="home">
  <ngb-carousel *ngIf="urlList" class="slides" [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="bg-half-260 rounded-md" [ngStyle]="{'background': 'url('+urlList[0].url+') center center', 'background-size':'cover'}" >
        <div class="rounded-md"></div>

      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="slider_count>1">
      <div class="bg-half-260 rounded-md" [ngStyle]="{'background': 'url('+urlList[1].url+') center center', 'background-size':'cover'}">
        <div class="rounded-md"></div>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="slider_count>2">
      <div class="bg-half-260 rounded-md" [ngStyle]="{'background': 'url('+urlList[2].url+') center center', 'background-size':'cover'}">
        <div class="rounded-md"></div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<!--end container-->
<!-- Hero End -->

<section class="section">
  <div class="container" id="news">
    <div class="row align-items-center mb-4 pb-4">
      <div class="col-md-8">
        <div class="section-title text-md-left mt-5">
          <h3 class="mb-4">Ostatnie nowości</h3>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 mt-sm-0">
        <div class="text-center text-md-end">
          <a href="javascript:void(0)" class="btn btn-soft-primary">See More
            <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
          </a>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <app-blog [postList]="postList" [howMany]=3 ></app-blog>
  </div>
  <!--end container-->

  <div class="container mt-4 mt-lg-0" id="all">
    <div class="row align-items-center mb-4 pb-4">
      <div class="col-md-8">
        <div class="section-title text-md-left mt-5">
          <h3 class="mb-4">Wszystkie posty</h3>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 mt-sm-0">
        <div class="text-center text-md-end">
          <a href="javascript:void(0)" class="btn btn-soft-primary">See More
            <i-feather name="arrow-right" class="icons"></i-feather>
          </a>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <app-blog [postList]="postList" [howMany]=999></app-blog>

  </div>
  <!--end container-->

</section>
<!--end section-->

