<!-- Hero Start -->
<div *ngIf="mobile" class="back-to-home rounded mx-4">
  <div class="btn-group dropdown-primary" ngbDropdown>
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle
            aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu " ngbDropdownMenu>
      <a class="dropdown-item" style="background: #26264f; color: white" routerLink="/admin">Wszystkie posty</a>
      <a class="dropdown-item" routerLink="/sliders">Slider</a>
      <a class="dropdown-item" routerLink="/new-redactor" *ngIf="role == 'admin'">Dodaj / usuń redaktora</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/settings">Ustawienia</a>
      <a class="dropdown-item"  routerLink="/login"><b>Wyloguj się</b></a>
    </div>
  </div>
</div>

<!-- Profile Start -->
<section class="section" (window:resize)="onResize($event)">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-4 d-lg-block d-none" style="background-color: #1d1e42; min-height: 100vh">
      <div class=" px-4 sticky-bar">
        <div class="widget">
          <h3 class="text-white mt-3 ps-4">Admin panel</h3>
          <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
            <li class="navbar-item account-menu px-0 active">
              <a routerLink="/admin" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-create-dashboard"></i></span>
                <h6 class="mb-0 ms-2 ">Wszystkie posty</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2 hover-overlay">
              <a routerLink="/sliders" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-image"></i></span>
                <h6 class="mb-0 ms-2">Slider</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2" *ngIf="role == 'admin'">
              <a routerLink="/new-redactor" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-user-plus"></i></span>
                <h6 class="mb-0 ms-2">Dodaj / usuń redaktora</h6>
              </a>
            </li>


            <li class="navbar-item account-menu px-0 mt-2">
              <a routerLink="/settings" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                <h6 class="mb-0 ms-2">Ustawienia</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2">
              <a  routerLink="/login"
                 class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-sign-out-alt"></i></span>
                <h6 class="mb-0 ms-2">Wyloguj się</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 position-relative mt-3">
      <div class="pb-2">
        <div class="d-inline-flex col-12 ">
          <h4 class="col-8 ms-3 mt-1">Wszystkie posty</h4>

        </div>
        <div class="position-relative d-inline-flex col-8 ms-3">
          <h6 class="text-muted mt-5">Admin </h6>
          <h6 class="mt-5 ms-2">> Wszystkie posty</h6>
        </div>
     </div>
      <hr>
      <div class="col-md-12 col-12 d-inline-flex position-relative">
        <div class="d-inline-flex col-auto mt-2">
          <a (click)="checkSelected()" class="btn ms-1" ngbTooltip="Widok kompaktowy">
            <span class="h4"><i class="uil uil-apps" [ngClass]="{'custom-icon': activeToggle == 1}"></i></span>
          </a>
          <a (click)="checkSelected2()" class="btn ps-1" ngbTooltip="Widok szczegółowy">
            <span class="h4"><i class="uil uil-list-ul" [ngClass]="{'custom-icon': activeToggle == 2}"></i></span>
          </a>
        </div>
        <div class="col-md-3 col-5 mt-3">
          <form #f=ngForm (keyup)="findByTitle(f)">
            <div class="form-icon position-relative">
              <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
              <input type="text" name="title" class="form-control ps-5 pt-2 border-dark"
                     placeholder="Szukaj po tytule..." ngModel>
            </div>
          </form>
        </div>
        <div class="position-absolute col-auto" style="right: 2em">
          <a routerLink="/post-creator" class="btn mt-3" style="background-color: #26264f; color: white;" [ngClass]="{'d-none': mobile == true}">Nowy post
            <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
          </a>
          <button [ngClass]="{'d-none': mobile == false}"
                  class="h3 text-dark bg-white border-0 mt-3"
                  ngbTooltip="Dodaj nowy post" routerLink="/post-creator">
            <i class="uil uil-plus"></i>
          </button>
        </div>
      </div>

      <div class="col-xl-12 mx-3">
        <app-blog-admin [postList]="postList" [view]="activeToggle"></app-blog-admin>
      </div>


      </div>

    <!--end col-->
  </div>
  <!--end row-->

</section>

<!--end section-->
<!-- Hero End -->
<!--&lt;!&ndash; Back to top &ndash;&gt;-->
<!--<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">-->
<!--  <i-feather name="arrow-up" class="icons"></i-feather>-->
<!--</a>-->
<!--&lt;!&ndash; Back to top &ndash;&gt;-->