<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <div class="col-lg-12 form-group">
            <H1> Dodawanie nowego postu </H1>
          </div>
<!--          <ul class="list-unstyled mt-4">-->
<!--            <li class="list-inline-item h6 user text-muted me-2"><i class="mdi mdi-account"></i> Calvin Carlo</li>-->
<!--            <li class="list-inline-item h6 date text-muted"><i class="mdi mdi-calendar-check"></i> 13th August, 2019-->
<!--            </li>-->
<!--          </ul>-->
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Blog STart -->
<section class="section">
  <div class="container">

      <div class="row">

        <!-- BLog Start -->
        <div class="col-lg-8 col-md-6">
          <div class="card blog blog-detail border-0 shadow rounded">
            <img [src]="imgSrc" class="img-fluid rounded-top" alt="">
            <div class="card shadow rounded border-0 mt-4">
              <div class="card-body">
                <h5 class="card-title mb-0">Dodaj opis :</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mb-3">
                        <div class="form-icon position-relative">
                          <textarea id="message" placeholder="Dodaj opis" rows="25" formControlName="description"
                                    class="form-control" ngModel></textarea>
                        </div>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
              </div>
            </div>
          </div>
        </div>
        <!-- BLog End -->

        <!-- START SIDEBAR -->
        <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <div class="card border-0 sidebar sticky-bar rounded shadow">
            <div class="card-body">

              <!-- TAG CLOUDS -->
<!--              <form [formGroup]="formTemplate" id="tabsForm" (submit)="onSubmit(formTemplate.value)">-->
              <div [formGroup]="formTemplate" class="widget mb-4 pb-2">

                <h5 class="widget-title">Ważne informacje o serialu</h5>
                <div class="col-lg-12 form-group">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Tytuł</label>
                    <div class="form-icon position-relative">
                      <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="text" formControlName="title" class="form-control ps-5 pt-2" placeholder="Tytuł" ngModel>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 form-group">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Twórca</label>
                    <div class="form-icon position-relative">
                      <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="text" formControlName="creator" class="form-control ps-5 pt-2" placeholder="Twórca" ngModel>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Gatunek serialu</label>
                    <div class="position-relative">
                      <select [(ngModel)]="genresSelected" name="genre" class="form-select form-control-lg pt-2" required>
                        <option *ngFor="let i of genres; let indexOfElement=index"
                                [value]="i">{{i}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 form-group">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Produkcja</label>
                    <div class="form-icon position-relative">
                      <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="text" formControlName="production" class="form-control ps-5 pt-2" placeholder="Produkcja" ngModel>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 form-group">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Data</label>
                    <div class="form-icon position-relative">
                      <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="text" formControlName="premiere" class="form-control ps-5 pt-2" placeholder="Data" ngModel>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mt-4 mt-sm-0">
                  <div class="text-center text-md-end">
                    <button type="submit" name="push" class="btn btn-success">
                      Dodaj
                    </button>
                  </div>
                </div>

              </div>
              <!-- TAG CLOUDS -->
<!--              </form>-->
            </div>
          </div>
        </div>
        <!--end col-->
        <!-- END SIDEBAR -->
      </div>
      <!--end row-->

  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Blog End -->

<!-- Back to top -->
<!--<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">-->
<!--  <i-feather name="arrow-up" class="icons"></i-feather>-->
<!--</a>-->
<!-- Back to top -->