<!-- Hero Start -->
<div *ngIf="mobile" class="back-to-home rounded mx-4">
  <div class="btn-group dropdown-primary" ngbDropdown>
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle
            aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu " ngbDropdownMenu>
      <a class="dropdown-item" routerLink="/admin">Wszystkie posty</a>
      <a class="dropdown-item" style="background: #26264f; color: white"  routerLink="/sliders">Slider</a>
      <a class="dropdown-item" routerLink="/new-redactor" *ngIf="role == 'admin'">Dodaj / usuń redaktora</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/settings">Ustawienia</a>
      <a class="dropdown-item"  routerLink="/login"><b>Wyloguj się</b></a>
    </div>
  </div>
</div>

<!-- Profile Start -->
<section class="section" (window:resize)="onResize($event)">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-4 d-lg-block d-none" style="background-color: #1d1e42; min-height: 100vh">
      <div class=" px-4 sticky-bar">
        <div class="widget">
          <h3 class="text-white mt-3 ps-4">Admin panel</h3>
          <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
            <li class="navbar-item account-menu px-0 ">
              <a routerLink="/admin" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-create-dashboard"></i></span>
                <h6 class="mb-0 ms-2 ">Wszystkie posty</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2 hover-overlay active">
              <a routerLink="/sliders" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-image"></i></span>
                <h6 class="mb-0 ms-2">Slider</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2" *ngIf="role == 'admin'">
              <a routerLink="/new-redactor" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-user-plus"></i></span>
                <h6 class="mb-0 ms-2">Dodaj / usuń redaktora</h6>
              </a>
            </li>


            <li class="navbar-item account-menu px-0 mt-2">
              <a routerLink="/settings" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                <h6 class="mb-0 ms-2">Ustawienia</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2">
              <a  routerLink="/login"
                  class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-sign-out-alt"></i></span>
                <h6 class="mb-0 ms-2">Wyloguj się</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 position-relative mt-3">
      <div class="pb-2">
        <div class="d-inline-flex col-12 ">
          <h4 class="col-8 ms-3 mt-1">Slider</h4>

        </div>
        <div class="position-relative d-inline-flex col-8 ms-3">
          <h6 class="text-muted mt-5">Admin </h6>
          <h6 class="mt-5 ms-2">> Slider</h6>
        </div>

      </div>
      <hr>

      <div class="col-lg-12 col-12 position-relative">
        <div *ngIf="isVisible" class="pb-3">
          <div class="col-xl-12">
            <app-sliders [urlList]="urlList" [slidersCount]="slidersCount"></app-sliders>
          </div>
        </div>
      </div>

    </div>
    <!--end row-->
  </div>
  <!--end container-->


</section>
