<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h2>{{title}}</h2>
          <span class="text-muted">{{post_creator}}</span>
          <span class="text-muted"> {{date}}</span>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Blog STart -->
<section class="section">
  <div class="container">
    <div class="row">
      <!-- BLog Start -->
      <div class="col-lg-8 col-md-6">
        <div class="card blog blog-detail border-0 shadow rounded">
          <img [src]="downloadUrl" class="img-fluid rounded-top" alt="">
          <div class="card-body content">
            <p class="mt-3">{{description}} </p>
          </div>
        </div>

        <div class="card shadow rounded border-0 mt-4">
          <div class="card-body">
            <h5 class="card-title mb-0">Komentarze :</h5>

            <ul class="media-list list-unstyled mb-0">
              <li *ngFor="let comment of commentsList" class="mt-4">
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <a class="pe-3" href="#">
                      <img src="assets/images/blog/user.png" class="img-fluid avatar avatar-md-sm rounded-circle shadow"
                        alt="img">
                    </a>
                    <div class="commentor-detail">
                      <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark media-heading">{{comment.creator}}</a>
                      </h6>
                      <small class="text-muted">{{comment.date}}</small>
                    </div>
                  </div>
                  <div class="mt-3">
                    <button [ngClass]="{'d-none': role == ''}" class="btn btn-danger" (click)="deleteComment(comment.comment_id)">Usuń</button>
                  </div>
                </div>
                <div class="mt-3">
                  <p class="text-muted fst-italic p-3 bg-light rounded">"{{comment.comment}}"</p>
                </div>

              </li>
            </ul>
          </div>
        </div>

        <div class="card shadow rounded border-0 mt-4">
          <div class="card-body">
            <h5 class="card-title mb-0">Zostaw Komentarz :</h5>

            <form class="mt-3" [formGroup]="commentForm" #f="ngForm" (ngSubmit)="addComment(f)">
              <div class="col-lg-6 form-group">
                <div class="mb-3">
                  <label class="form-label">Nazwa<span class="text-danger">*</span></label>
                  <div class="form-icon position-relative">
                    <i-feather name="user" class="fea icon-sm icons d-flex"></i-feather>
                    <input  formControlName="name" type="text" placeholder="Nazwa" class="form-control ps-5"
                           [ngClass]="{ 'is-invalid': submitted && fComment.name.errors}">
                    <div *ngIf="submitted && fComment.name.errors" class="invalid-feedback">
                      <div *ngIf="fComment.name.errors.required">Należy podać nazwe</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="row">
                <div class="col-md-12 form-group">
                  <div class="mb-3">
                    <label class="form-label">Twój komentarz<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="message-circle" class="fea icon-sm icons d-flex"></i-feather>
                      <textarea id="message" placeholder="Twój komentarz" rows="5" formControlName="comment"
                        class="form-control ps-5" [ngClass]="{ 'is-invalid': submitted && fComment.comment.errors }"></textarea>
                      <div *ngIf="submitted && fComment.comment.errors" class="invalid-feedback">
                        <div *ngIf="fComment.comment.errors.required">Należy wpisać komentarz</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="send d-grid">
                    <button type="submit" class="btn btn-primary">Wyślij komentarz</button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
            <!--end form-->
          </div>
        </div>
      </div>
      <!-- BLog End -->

      <!-- START SIDEBAR -->
      <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="card border-0 sidebar sticky-bar rounded shadow">
          <div class="card-body">

            <div class="widget mb-4 pb-2">
              <h5 class="widget-title">Twórca</h5>
              <p>{{creator}}</p>
            </div>

            <div class="widget mb-4 pb-2">
              <h5 class="widget-title">Gatunek</h5>
              <p>{{genre}}</p>
            </div>

            <div class="widget mb-4 pb-2">
              <h5 class="widget-title">Produkcja</h5>
              <p>{{production}}</p>
            </div>

            <div class="widget mb-4 pb-2">
              <h5 class="widget-title">Premiera</h5>
              <p>{{premiere}}</p>
            </div>
            <div class="widget mb-4 pb-2">
              <button class="btn btn-primary" (click)="back()">Wróć</button>
            </div>



          </div>
        </div>
      </div>
      <!--end col-->
      <!-- END SIDEBAR -->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Blog End -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->