<div  class="row" (window:resize)="onResize($event)">
  <div class="col-xl-4 col-lg-6 col-md-6 col-6 pt-2" *ngFor="let post of postList |orderBy: '-' | paginate: { id: 'foo',
                                                      itemsPerPage: pagesize,
                                                      currentPage: page,
                                                      totalItems: postList.length}, let i=index" >
    <div *ngIf="i<howMany" class="card blog rounded border-0 shadow" (click)="showPost(post.series_id)">
      <div class="position-relative">
        <img [ngClass]="{'imgHeightWeb': web, 'imgHeightMobile': mobile}" src="{{post.url}}" class="card-img-top rounded-top center center imgHeightMobile imgHeightWeb"
             alt="..." >
        <div class="overlay rounded-top bg-dark"></div>
      </div>
      <div class="card-body content">
        <h5><a href="javascript:void(0)" class="card-title title text-dark">{{post.title}}</a>
        </h5>
        <div class="post-meta d-flex justify-content-between mt-3" style="text-align:right;">
          <p class="text-muted" style="text-align:right;alignment: right">{{post.creation_date}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--&lt;!&ndash;orderBy: '-' |&ndash;&gt;-->
<div class="d-flex" *ngIf="howMany>3">
  <ngb-pagination [collectionSize]="postList.length" [(page)]="page" [(pageSize)]="pagesize" [rotate]="true"
  class="mx-auto mt-5 mb-5">
  </ngb-pagination>
<!--  <pagination-controls  id="some_id"-->
<!--                        (pageChange)="page = $event"-->
<!--                        maxSize="9"-->
<!--                        directionLinks="true"-->
<!--                        responsive="true"-->
<!--                        previousLabel="Previous"-->
<!--                        nextLabel="Next"-->
<!--                        screenReaderPaginationLabel="Pagination"-->
<!--                        screenReaderPageLabel="page"-->
<!--                        screenReaderCurrentLabel="You're on page">-->
<!--  </pagination-controls>-->
</div>
