<!-- Hero Start -->
<div *ngIf="mobile" class="back-to-home rounded mx-4">
  <div class="btn-group dropdown-primary" ngbDropdown>
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle
            aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu " ngbDropdownMenu>
      <a class="dropdown-item"  routerLink="/admin">Wszystkie posty</a>
      <a class="dropdown-item" routerLink="/sliders">Slider</a>
      <a class="dropdown-item" style="background: #26264f; color: white" routerLink="/new-redactor">Dodaj / usuń redaktora</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/settings">Ustawienia</a>
      <a class="dropdown-item"  routerLink="/login"><b>Wyloguj się</b></a>
    </div>
  </div>
</div>

<!-- Profile Start -->
<section class="section" (window:resize)="onResize($event)">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-4 d-lg-block d-none" style="background-color: #1d1e42; min-height: 100vh">
      <div class=" px-4 sticky-bar">
        <div class="widget">
          <h3 class="text-white mt-3 ps-4">Admin panel</h3>
          <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
            <li class="navbar-item account-menu px-0">
              <a routerLink="/admin" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-create-dashboard"></i></span>
                <h6 class="mb-0 ms-2 ">Wszystkie posty</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2 hover-overlay">
              <a routerLink="/sliders" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-image"></i></span>
                <h6 class="mb-0 ms-2">Slider</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2 active">
              <a routerLink="/new-redactor" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-user-plus"></i></span>
                <h6 class="mb-0 ms-2">Dodaj / usuń redaktora</h6>
              </a>
            </li>


            <li class="navbar-item account-menu px-0 mt-2">
              <a routerLink="/settings" class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                <h6 class="mb-0 ms-2">Ustawienia</h6>
              </a>
            </li>

            <li class="navbar-item account-menu px-0 mt-2">
              <a  routerLink="/login"
                  class="navbar-link d-flex align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-sign-out-alt"></i></span>
                <h6 class="mb-0 ms-2">Wyloguj się</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 position-relative mt-3">
      <div class="pb-2">
        <div class="d-inline-flex col-12 ">
          <h4 class="col-8 ms-3 mt-1">Dodaj / usuń redaktora</h4>

        </div>
        <div class="position-relative d-inline-flex col-8 ms-3">
          <h6 class="text-muted mt-5">Admin </h6>
          <h6 class="mt-5 ms-2">> Dodaj / usuń redaktora</h6>
        </div>
      </div>
      <hr>

      <div class="col-xl-12 mx-3">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-12 col-sm-5 ">
            <div class="pb-4 mt-4">
              <div class="d-inline-flex col-12 ">
                <h5 class="col-12">Dodaj nowego redaktora</h5>
              </div>
              <form class="login-form mt-3" [formGroup]="registerForm" #f="ngForm" (ngSubmit)="registerUser(f)">
                <div class="row ">
                  <div class="col-lg-12 form-group">
                    <div class="mb-3">
                      <label class="form-label ">Email<span class="text-danger">*</span></label>
                      <div class="form-icon position-relative">
                        <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                        <input formControlName="email" type="text" class="form-control ps-5" placeholder="Email"
                               [ngClass]="{ 'is-invalid': submitted && fRegister.email.errors }">
                        <div *ngIf="submitted && fRegister.email.errors" class="invalid-feedback">
                          <div *ngIf="fRegister.email.errors.required">Należy podać email</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <div class="mb-3">
                      <label class="form-label ">Hasło<span class="text-danger">*</span></label>
                      <div class="form-icon position-relative">
                        <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                        <input formControlName="password" type="password" class="form-control ps-5" placeholder="Hasło"
                               [ngClass]="{ 'is-invalid': submitted && fRegister.password.errors }">
                        <div *ngIf="submitted && fRegister.password.errors" class="invalid-feedback">
                          <div *ngIf="fRegister.password.errors.required">Należy podać hasło</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <div class="mb-3">
                      <label class="form-label">Powtórz hasło<span class="text-danger">*</span></label>
                      <div class="form-icon position-relative">
                        <i-feather name="key" class="fea icon-sm icons d-flex"></i-feather>
                        <input formControlName="confirmPassword" type="password" class="form-control ps-5"
                               placeholder="Powtórz hasło"
                               [ngClass]="{ 'is-invalid': submitted && fRegister.confirmPassword.errors }">
                        <div *ngIf="submitted && fRegister.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="fRegister.confirmPassword.errors.required">Powtórzenie hasła jest wymagane</div>
                          <div *ngIf="fRegister.confirmPassword.errors.mustMatch">Hasła muszą się zgadzać</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <div class="mb-3">
                      <label class="form-label ">Imię<span class="text-danger">*</span></label>
                      <div class="form-icon position-relative">
                        <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                        <input formControlName="name" type="text" class="form-control ps-5" placeholder="Imię"
                               [ngClass]="{ 'is-invalid': submitted && fRegister.name.errors }">
                        <div *ngIf="submitted && fRegister.name.errors" class="invalid-feedback">
                          <div *ngIf="fRegister.name.errors.required">Należy podać imię</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end col-->

                  <div class="col-lg-12 form-group">
                    <div class="mb-3">
                      <label class="form-label">Nazwisko<span class="text-danger">*</span></label>
                      <div class="form-icon position-relative">
                        <i-feather name="edit2" class="fea icon-sm icons d-flex"></i-feather>
                        <input formControlName="lastName" type="text" class="form-control ps-5"
                               placeholder="Nazwisko"
                               [ngClass]="{ 'is-invalid': submitted && fRegister.lastName.errors }">
                        <div *ngIf="submitted && fRegister.lastName.errors" class="invalid-feedback">
                          <div *ngIf="fRegister.lastName.errors.required">Należy podać nazwisko</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-12 form-group">
                    <div class="mb-3">
                      <label class="form-label">Rola<span class="text-danger">*</span></label>
                      <div class="position-relative">
                        <select name="role" class="form-select form-control-lg pt-2"
                                (change)="selectOptionHandler($event)" required>
                          <option *ngFor="let i of role; let indexOfElement=index"
                                  [value]="i">{{i}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-12 mt-2 mb-0">
                    <div class="d-grid">
                      <div *ngIf="success" class="alert alert-success" role="alert">
                        <b>Pomyślnie dodano nowego redaktora</b></div>
                      <span name="information_to_user" class="text-center text-danger">{{information_to_user}}</span>
                      <button type="submit" class="btn" style="background-color: #26264f; color:white" >Dodaj</button>
                    </div>
                  </div>
                  <!--end col-->

                </div>
                <!--end row-->
              </form>

              <!--end col-->
            </div>
          </div>
          <div class="col-lg-1 col-sm-1"></div>
          <div class="col-lg-5 col-sm-5 col-12 d-flex mx-2">
            <div class="pb-4 mt-4">
              <div class="d-inline-flex col-12 ">
                <h5 class="col-12">Usuń redaktora</h5>
              </div>
              <h6 class="mt-4">{{information_to_user2}}</h6>
              <ul class="media-list list-unstyled mb-0">
                <li *ngFor="let red of redactorsList" class="mt-4">
                  <div class="d-flex justify-content-between d-inline-flex">
                    <div class="d-flex align-items-center col-md-10 col-10">
                      <a class="pe-3" href="#">
                        <img src="assets/images/blog/user.png" class="img-fluid avatar avatar-md-sm rounded-circle shadow"
                             alt="img">
                      </a>
                      <div class="commentor-detail">
                        <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark media-heading">{{red.name}} {{red.lastname}}</a>
                        </h6>
                      </div>
                    </div>
                    <div class="mt-1">
                      <button [ngClass]="{'d-none': role == ''}" class="btn btn-danger" (click)="open('focusFirst', red.account_id)">Usuń</button>
                    </div>
                  </div>

                </li>
              </ul>
              <!--end col-->
            </div>
          </div>
          <!--end col-->
        </div>

      </div>

    </div>
    <!--end row-->
  </div>
  <!--end container-->

</section>
